server {
    listen 5104 ssl; # managed by Certbot

    # RSA certificate
    ssl_certificate /etc/letsencrypt/live/{{ data.node.host }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ data.node.host }}/privkey.pem; # managed by Certbot

    server_name {{ data.node.host }};
    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_pass http://{{ data.node.host }}:5100;
    }
}