server {
    listen 80;
    server_name {{ data.registry_domain }};

    listen 443 ssl;

    ssl_certificate /etc/nginx/ssl/{{ data.registry_domain }}.crt;
    ssl_certificate_key /etc/nginx/ssl/{{ data.registry_domain }}.key;

    client_max_body_size 0;

    location / {
        proxy_pass http://{{ data.node.host }}:5000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_read_timeout 900;
        
    }
}
