server {
    listen 80;
    server_name {{ item.domain_name }};

    listen 443 ssl; # managed by Certbot

    # RSA certificate
    ssl_certificate /etc/letsencrypt/live/{{ item.domain_name }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ item.domain_name }}/privkey.pem; # managed by Certbot

    # include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot

    client_max_body_size 200m;

    location / {
        proxy_pass http://{{ data.host }}:{{ item.outer_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        {% if item.auth_user is defined %}
        auth_basic "Administrator’s Area"; auth_basic_user_file /etc/nginx/conf.d/{{ item.domain_name }}.htpasswd;
        {% endif %}
    }
}

